body {
    background: url(https://images.unsplash.com/10/wii.jpg?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&s=977ef275604c8fa6777e507bc87185fd);
    background-size: cover;
    background-position: center; 
    font-family: Lato!important;
    color: white;
}

.row {
	margin-top: 25%;
}

html {
    height: 100%;
}

.jumbotron{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://images7.alphacoders.com/708/thumb-1920-708805.jpg); 
    position: relative;
    height: 100%;
}

.jumbotron .btn{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    padding:10px 40px;
}
