body {
    background: url(http://img07.deviantart.net/0528/i/2012/198/3/4/yo_videogames__by_ry_spirit-d57k3ay.jpg);
    background-size: cover;
    background-position: center; 
    font-family: Lato!important;
    color: white;
}

.row {
	margin-top: 25%;
}

html {
    height: 100%;
}

/*.title{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
}*/

.btn{
    border-radius:15px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    margin-top: 255px;
    margin-left: 15px;
}
