{% extends "base.html" %}

{% block content %}
    <div class="row">        
        <div class="col-md-8 col-md-offset-2 text-center">
        <form method="POST">
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            <div>
                <img class="img-fluid" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/caution-256.png" alt="Responsive image">
                <br>
                <br>
            </div>
            <div>
                <button class="btn btn-success btn-large" type="submit">Yes, delete.</button>
                <a class="btn btn-large btn-danger" href="/games/{{game.id}}/info">
                    No, cancel.
                </a>
            </div>
            </form>
        </div>        
    </div>
{% endblock %}