{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/games.css">
<div class="row">
	<div style="padding-top:25px;"> </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default post-panel">
            <div class="panel-body">
                <h1 class="panel-title pull-left" style="font-size:30px;">All {{genre.name}} Games</h1>
                <div class="dropdown pull-right">
                  <a href="/games/new/">
                    <button class="btn btn-success" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>Add New Game
                    </button>
                  </a>
                </div>
                <br><br><hr>
                <span></span>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>	
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="well">
			<div class="row">
			{% for g in games %}
	            <div class="col-md-3">
	                <div class="card text-center">
	                	<a href="/games/{{g.id}}/info">
		                    <img class="card-img-top img-responsive" src="{{g.picture}}">
		                    <div class="card-block">
		                        <h4 class="text-bold">{{g.name}}</h4>
		                    </div>
	                    </a>
	                </div>
	            </div>
	            {% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>	
</div>

{% endblock %}